* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

h1 {
    color: red;
    text-align: center;
}

.header {
    display: flex;
    height: 160px;
    padding-left: 24px;
    background-color: #fff5e7;
} 

.header .header-content-left {
    height: 100%;
    width: 80%;
    position: relative;
    padding-top: 8px;
}

.title {
    display: flex;
}

.logo {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/logo.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo:hover {
    cursor: pointer;
}

.sub-logo {
    margin-left: 10px;
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/sub-logo.png");
    width: 180px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-logo:hover {
    cursor: pointer;
}

.motivation {
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/motivation.jpg");
    width: 220px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation {
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
}

.navigation  button {
    padding: 10px 12px;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    opacity: 0.8;
    font-size: 14px;
    background-color: #E3E3E3;
    color: #555;
}

.active {
    background-color: blueviolet !important;
    color: white !important;
}

.navigation  button:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.header-content-right {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.media {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    padding-right: 10px;
    right: 10px;
    width: 100%;
    height: 30%;
    font-size: 24px;
    flex-direction: row-reverse;
}

.google {
    height: 30px;
    width: 30px;
}

.google:hover {
    cursor: pointer;
    opacity: 0.6;
}

.instagram {
    height: 30px;
    width: 30px;
}

.instagram:hover {
    cursor: pointer;
    opacity: 0.6;
}

.facebook {
    height: 30px;
    width: 30px;
}

.facebook:hover {
    cursor: pointer;
    opacity: 0.6;
}

.login {
    margin-right: 10px;
}

.login:hover {
    cursor: pointer;
    opacity: 0.6;
}

.user-infor {
    font-size: 14px;
    margin-right: 6px;
}

.search {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search {
    border: 1px solid rgb(147, 147, 221);
}

.search .input-search input {
    height: 32px;
    padding: 0 6px;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.search .input-search .search-icon {
    margin-right: 8px;
}

.search .input-search .search-icon:hover {
    cursor: pointer;
}

.sub-navigation {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-navigation .advanced-search {
    width: 60%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.sub-navigation .advanced-search:hover {
    cursor: pointer;
    color: #6b5a5a;
}

.sub-navigation .change-language {
    width: 40%;
    text-align: center;
    display: flex;
    margin-left: 20px;
    gap: 8px;
}

.sub-navigation .change-language:hover {
    cursor: pointer;
}

.change-language .text-language:hover {
    opacity: 0.6;
}

.change-language .flag-language {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/vietnamese-flag.jpg");
    width: 28px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.body {
    height: 300px;
}

.body .slide-book {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/slide-book.jpg");
    height: 300px;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.body .book-section {
    height: 584px;
    background-color: #fff5e7;
    padding: 20px;
}

.book-section .book-section-title {
    margin-bottom: 16px;
}

.bst-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #00aeef;
    text-align: center;
}

.bst-icon {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/open-book.svg");
    height: 24px;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.book-section-navigation {
    text-align: center;
}

.book-section-navigation button {
    background-color: #ccc;
    padding: 10px 16px;
    border-radius: 4px;
    color: #555;
}

.book-section-navigation button:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.book-section-content {
    display: flex;
    gap: 32px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.book-section-content .arrow-icon {
    font-size: 32px;
}

.book-section-content .arrow-icon:hover {
    cursor: pointer;
}

.book-section-content .bsc-book:hover {
    cursor: pointer;
}

.bsc-book1 {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/book1.jpg");
    height: 350px;
    width: 234px;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bsc-book2 {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/book2.jpg");
    height: 350px;
    width: 234px;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.bsc-book3 {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/book3.jpg");
    height: 350px;
    width: 234px;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.bsc-book4 {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/book4.jpg");
    height: 350px;
    width: 234px;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.bsc-book5 {
    background-image: url("https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/main/system-analysis-design/book5.jpg");
    height: 360px;
    width: 240px;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;    
}
